html {
  scroll-behavior: smooth;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 20px; */
  line-height: 1.5;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #f5efdc
}
/* Global */
.container{
  width:98%;
  margin:auto;
  overflow:hidden;
}

/* Header */
header {
  background: #364b71;
  color:#ffffff;
  padding:0px 0px 0px 0px;
  min-height:70px;
  height: 115px; 
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0px 0px 0px 0px;
  height: 75px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0px 0px 0px 0px;
  font-family: sans-serif;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0px 0px 0px 0px;
  font-family: sans-serif;
}



#navBar{
  display: grid;
  grid-template-columns: repeat(4, auto);
  background: #364b71;
  color: white;
  border-top: white 2px solid;
}

#navBar a{
  padding: 5px 15px;
  border: 1px solid transparent;
  transition: 0.6s ease;
  text-align: center;

}

#navBar a:hover{
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

#Main{
  opacity: 70%;
}

/*------------------------------------------------------------*/
/*About me section*/
/*------------------------------------------------------------*/
#About_me{
  min-height: auto;
  text-align: center;
  /* border: 2px solid black; */
}

.subHeading {
  margin: 0px 0px 0px 0px;
  font-size:30px;
  text-align: center;
}

#About_me_para{
  text-align: justify;
  margin: 10px 10px 10px 10px;
}


/*------------------------------------------------------------*/
/*Skills section*/
/*------------------------------------------------------------*/
#Skills{
  min-height: 400px;
  text-align: center;
  /* border: 2px solid red; */
}


#Skills_icons_area {
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-template-rows: auto;
  justify-items: center;
}

.iconify { 
  width: 100px; 
  height: 100px;
  margin: 10px 10px 10px 10px;
}

/* svg.iconify:hover {
  background-color: rgb(255, 255, 255);
  opacity: 30%;
  transition: 0.6s ease;
} */

.iconDiv {
  position: relative;
  width: 150px;
  height: 150px;
}

.iconDiv:hover {
  cursor: pointer;
  background: white;
  background-blend-mode: overlay;
  opacity: 70%;
  width: 150px;
  height: 150px;
  transition: 0.6s ease;
}

.iconDiv:hover div {
  padding: 8px 15px;
  visibility: visible;
  opacity: 100%;
  transition: 0.6s ease;
  width: 120px;
  height: 15px;
}

.iconName {
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 10px;
}



/*------------------------------------------------------------*/
/*Projects section*/
/*------------------------------------------------------------*/
#Projects {
  min-height: 400px;
  text-align: center;
  /* border: 2px solid green; */
}

#Projects_container {
  /* display: grid;
  grid-template-columns: repeat(1,auto);
  grid-template-rows: 1; */

  margin-top: 10px;
}

.slick-slide img {
  margin: 0 0 0 0;
  max-width: 500px;
  max-height: auto;
  grid-area: image;
  border: 2px white solid;
  border-radius: 10px;

}
.item {
  padding: 15px;
  outline: none;
}

.item-inner{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(1,auto);
  grid-template-areas: "image content";
  background: linear-gradient(45deg, #696969, #000000);
  border-radius: 18px;
  text-align: center;
  padding: 25px 25px 25px 25px;
  justify-items: center;
}

.content {
  grid-area: content;
  margin: 10px 10px 10px 10px;
}

.item-inner h4 {
  font-size: 30px;
  color: #fff;
  text-transform: capitalize;
  margin: 10px 10px 10px 10px;
}

.item-inner p {
  font-size: 16px;
  color: rgb(214, 214, 214);
  letter-spacing: 1px;
  margin: 20px 0px 20px 0px;

}


.links a {
  text-decoration: none;
  color: white;
  margin: 5px 5px 5px 5px;
}

.links a:hover {
  color: aqua;
  transition: 0.6s ease;

}


.slick-slide {
  transform: scale(0.8);
  opacity: 0.3;
  transition: all ease 0.5s;
}

.slick-slide.slick-current {
  transform: scale(1);
  opacity: 1;
}
/* Slider Control */
.slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 99;
  background: rgb(80, 80, 80);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  width: 100px;
  outline: none;
}

.slick-next {
  left: 52%;
}

.slick-next:hover {
  cursor: pointer;
  color: aqua;
  transition: 0.6s ease;
}

.slick-prev {
  left: 40%;
}

.slick-prev:hover {
  cursor: pointer;
  color: aqua;
  transition: 0.6s ease;
}

.slick-list {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

footer {
  display: grid;
  grid-template-columns: repeat(4,25%);
  margin-top: 20px;
  background: #364b71;
  color:#ffffff;
  padding:0px 0px 0px 0px;
  min-height:70px;
  height: 120px;
  justify-items: center;
  vertical-align: middle;
  border-top: white 3px solid;
}

.contactIcons {
  height: 100px;
}
.contactIcons a {
  color: white;
}

.contactIcons .iconify {
  height: 90px;
  width: 90px;
}

.contactIcons:hover {
  cursor: pointer;
}






